# Database
SQLITE_CLOUD_URL=sqlitecloud://ct9xsnnpvz.g1.sqlite.cloud:8860/DsCompany_com_IA.db?apikey=c9lGTn4sb98t3kl3w2gU8cMXQiKDavSd7QF3vTwHV9Q

# Auth
JWT_SECRET=super-secret-key-change-in-prod

# Gemini
GEMINI_API_KEY=
